.container {
    padding: 0;
    margin: 0;
}

input::-webkit-input-placeholder {
    color: red;
}

input:-moz-placeholder {
    color: red;
}

input::-moz-placeholder {
    color: red;
}

input:-ms-input-placeholder {
    color: red;
}

.get-code input::-ms-input-placeholder {
    text-align: center;
}

.get-code input::-webkit-input-placeholder {
    text-align: center;
}

.content {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 135%;
}

.content1 {
    background: url("/image/beijing.png");
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}

.phone-and-code {
    position: absolute;
    top: 55%;
    left: 10%;
    width: 80%;
}

.phone-and-code .input-group {
    margin-bottom: 20px;
    background-image: url("/image/sss1_10.png");
    padding: 5px;
    height: 64px;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    width: 100%;
}

.phone-and-code .input-group input {
    font-size: 20px;
    border: none;
    margin-right: 2px;
    background-color: #fff;
    height: 64px;
}

.phone-and-code .input-group .input-group-addon {
    border: none;
    width: 60px;
    height: 30px;
}

.phone-and-code .input-group #basic-addon1 {
    background: url("/image/sss_06.png") 20px 15px no-repeat #ffffff;
}

.phone-and-code .input-group #basic-addon2 {
    background: url("/image/sss2_12.png") 20px 15px no-repeat #ffffff;
}

.phone-and-code .get-code {
    float: left;
    width: 50%;
    text-align: center;
}

.phone-and-code .get-code input {
    text-align: center;
}

.check-code-get {
    width: 100%;
}

.show-button {
    margin-left: 10px;
    float: left;
    background: url("/image/first_11.png");
    width: 115px;
    border: none;
    height: 75px;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}

.sure-button {
    position: absolute;
    background: url("/image/first_16.png");
    width: 50%;
    border: none;
    height: 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    left: 25%;
}

.content2 {
    display: none;
    background: url("/image/beijing_4.png");
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}

.title-show {
    position: absolute;
    width: 80%;
    left: 10%;
    height: 30px;
    margin-top: 132%;
    margin-left: 26%;
    color: #f4777c;
    font-size: 40px;
    font-weight: bolder;
    z-index: 9999;
}

.qingshuizhi-show {
    display: none;
    position: absolute;
    margin-top: 134%;
    margin-left: 45%;
    width: 80%;
    height: 30px;
    z-index: 100000;
    font-size: 30px;
}

.show-account {
    display: none;
    position: absolute;
    margin-top: 161%;
    margin-left: 10%;
    width: 80%;
    height: 30px;
    z-index: 100000;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color: #fff;
}

.show-account .account {
    color: #fef702;
}

.down-button {
    position: absolute;
    margin-top: 184%;
    margin-left: 20%;
    width: 60%;
    height: 64px;
    z-index: 100000;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: url("/image/second_03.png");
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}

.content3 {
    display: none;
    background: url("/image/beijing_3.png");
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}

.show-list {
    position: absolute;
    margin-top: 70%;
    margin-left: 15%;
    width: 75%;
    height: 64px;
    z-index: 100000;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}

.show-list table {
    width: 100%;
}

.show-list table tr {
    display: block;
    margin-top: 30px;
}

.show-list table tr.first {
    margin-top: 0;
}

.show-list table td.user-info {
    width: 60%;
    color: #fff;
    font-weight: normal;
}

.show-list table td.user-info .name {
    font-size: 22px;
    font-weight: bolder;
}

.show-list table td.user-info .time-content {
    margin-top: 13px;
}

.show-list table td.user-water {
    color: #fef702;
    font-size: 25px;
}

.show-list .user-img {
    margin-right: 10px;
}

.show-list img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
